@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&family=Iansui&family=Kaushan+Script&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Outfit:wght@100..900&family=Sacramento&display=swap');
@import "tailwindcss";

html {
   scroll-behavior: smooth;
}

@theme {
   --font-navLogo: "Kaushan Script", cursive;
   --font-tartiaray: 'Nunito', sans-serif;
   --font-helloIAm: "Sacramento", cursive;
   --font-name: "Outfit", sans-serif;
   --font-underName: "Iansui", cursive;
}


.home-img .img-box {
   position: relative;
   /* width: 90vw;
   height: 90vw; */
   border-radius: 50%;
   padding: 5px;
   display: flex;
   justify-content: center;
   align-items: center;
   overflow: hidden;
}

.home-img .img-box::before,
.home-img .img-box::after {
   content: '';
   position: absolute;
   width: 10000px;
   height: 10000px;
   background: conic-gradient(transparent,
         transparent,
         transparent,
         transparent,
         transparent,
         transparent,
         transparent,
         transparent,
         #20132c4d,
         #0051ff,
         #3400f1,
         #ff0080);
   transform: rotate(0deg);
   animation: rotate-border 10s linear infinite;
}

.home-img .img-box::after {
   animation-delay: -5s;
}

@keyframes rotate-border {
   100% {
      transform: rotate(360deg);
   }
}

.home-img .img-box .img-item {
   position: relative;
   width: 100%;
   height: 100%;
   background: #160d1e;
   border-radius: 50%;
   border: 0.1px solid #160d1e;
   display: flex;
   justify-content: center;
   z-index: 1;
   overflow: hidden;
}

.home-img .img-box .img-item img {
   position: absolute;
   transform: scale(1.5);
   left: 33px;
   bottom: -130px;
   display: block;
   width: 100%;
   object-fit: cover;
}